In [ ]:
import numpy as np 
import pandas as pd
import matplotlib as mpl

In [ ]:
df=pd.read_csv("/kaggle/input/datasets/fatuzahra/irisiris/iris.csv")

In [ ]:
df.head

In [ ]:
temps=np.array([30,31,29,32,28,32,33])
print(temps.mean())
print(temps.std())

In [ ]:
numeric=df.iloc[:, 0:4].values
textual=df["species"]

In [ ]:
print(numeric)

In [ ]:
print(textual)

In [ ]:
means=np.mean(numeric,axis=0)
stds=np.std(numeric,axis=0)
#axis=0 means that we want to select from row 0, or from the start
print(means)
print(stds)
#feature with the highest std value is the most imp feature of the dataset
#this feature makes it easier to make predictions
#feature with low std makes it harder to make predictions
#we can see that the petal length is the most imp feature here at it has the hightest std value

In [ ]:
max=np.max(numeric,axis=0)
min=np.min(numeric,axis=0)
#min and max values helps find the range of a feature and also helps find outliers
#outliers are the impossible values of a feature, i.e -ve height, etc.
print(max)
print(min)

In [ ]:
#filteringn helps us find the outliers. if there are only a few values that are close to the min or max value, then they are the outliers
sepal_long=numeric[numeric[: ,2]>4]
#in the above cell, we see that the max sepal lenght is 4.4 so we set a filter at 4 to see how many entries have sepal length close to the max value
print(sepal_long)
#since there are a lot of value, we say that it is not an outlier

In [ ]:
#checking for petal length
petal_long=numeric[numeric[: ,2]>6]
print(petal_long)

In [ ]:
#now that we know that petal length is an imp feature
#and that it is not an outlier
#we will take the mean and std of each specie individually
for species in np.unique(textual):
    group=numeric[textual==species]
    print(species)
    print("Mean petal length:", group[:,2].mean())
    print("Std of petal length:", group[:,2].std())

#this helps us determine through our human intelligence that out of the three species, the one with the
#longest petal is virginica, the one with the smallest petals is setosa and versicolor lies in the middle
#this information helps us train models in identifying flowers by looking at the petal length as well

In [23]:
#Pandas

#Pandas lib is used to 
# Clean data
# Transform data
# Analyze data
# Exploring data
# Convert raw data to meaningful data


#There are two types of data structures in python. Data structures are the placeholders that store data

# Series: a single column
# Dataframes: multiple rows and columns, matrix, table

# Example of series:
ages= pd.Series([23,12,10,3])
print(ages)

# Example of dataframes
data={
    "Name":["Fatima","Zahra", "Lizzie"],
    "Age":[12,23,10]
}
dataframe=pd.DataFrame(data)
print(dataframe)

0    23
1    12
2    10
3     3
dtype: int64
     Name  Age
0  Fatima   12
1   Zahra   23
2  Lizzie   10

In [24]:
titanic=pd.read_csv("/kaggle/input/datasets/fatuzahra/titanic/titanic.csv")

In [27]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [28]:
titanic.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [30]:
titanic.shape

(891, 12)

In [31]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [33]:
titanic.info()
#here we can see that there are total of 891 entries but some features/columns have entries less that 891, i.e Age and Cabin
#this shows that the dataset has missing data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [35]:
titanic.describe()
#describe() only gives us info about numerical features

#here we can see that the std of PassID is the highest
#however we cannot predict whether a person will survive or not based on their ID
#second hgihest std is that of Fare so this will help us predict
#which makes sense as well as we know that the higher paying class/elites are always given priority
#mean of survived shows us the survival rate, so 0.38->38% people survived
#survived is a label (prediction)

# IQR Interquartile Range 
# 25% percentile aka Q1 is quarterly value
# 50% persentile is the middle value
# 75% percentile is the third quarterly value
# data is arranged in an ascending order from min to max for this IQR
# here we can say that the min age is 0.4/4 months and the max age is 80
# 25% shows us that about 25% of the passengers were from age 4 months to 20 y/o 
# 50% shows us that this 25% was aged from 20 y/o to 28 y/o
# or that 50% were aged from 4 months to 28 y/o
# 75% shows us that this 25% is aged from 28 y/o to 38 y/o 
# this helps us determine that only 25% passengers were 38+ y/o so mostly were young

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
# the Pclass is a determinant of the class the passengers were travelling in, 1 being the elite and 3 being the lower
# the percentiles shows us that majority of the passengers were travlling in lower class 3, and only 25% passengers were travelling in class 1 and class 2 combined